<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <button type="button" onclick="location.href='/write'">글쓰기</button>
    <button type="button" onclick="location.href='/board'">글 목록</button>
</body>
</html>