<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/web/static/css/style.css">
    <title>{{.Title}}</title>
</head>
<body>
    <h1> {{.Title}} </h1>
    <h3> 작성자: {{.Author}} </h3>
    <h3> 작성 시각: {{.CreatedAt}} </h3>
    <h3> 본문 </h3>
    <p> {{.Content}} </p>
    <br><br>
</body>
</html>