<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/web/static/css/style.css">
    <title>{{.Title}}</title>
</head>
<body>
    <!-- <div style="text-align: end;">
    </div> -->
    <h1> {{.Title}} </h1>
    <button type="button" class="buttonEdit" onclick="location.href='/edit/{{.ID}}'">수정</button>
    <button type="button" class="buttonDelete" onclick="location.href='/delete/{{.ID}}'">삭제</button>
    <h3> 작성자: {{.Author}} </h3>
    <h3> 작성 시각: {{.CreatedAt}} </h3>
    <h3> 본문 </h3>
    <p> {{.Content}} </p>
    <br><br>
</body>
</html>