<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판 생성기</title>
    <link rel="stylesheet" href="/web/static/css/style.css">
</head>
<body>
    <form action="" method="POST">
        제목: <input id="title" class="title" name="title" type="text" value="{{.Title}}"><br>
        작성자: <input id="author" class="author" name="author" type="text" value="{{.Author}}"><br>
        <label for="content">본문:</label><br>
        <textarea id="content" class="content" name="content" cols="60" rows="20">{{.Content}}</textarea>
        {{ if . }}
        <input type="submit" value="수정하기">
        {{ else }}
        <input type="submit" value="글쓰기">
        {{ end }}
    </form>
    
</body>
</html>