body{
    font-family: sans-serif;
    background-color:rgb(37, 44, 44);
    color: floralwhite;
}


a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

a:link{color:floralwhite;}
a:visited{color: floralwhite;}

.input{
    text-align: center;
}

.buttonEdit {
    background-color: skyblue;
    border-radius: 5px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color:ivory;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border: none;
}

.buttonEdit:hover {
    cursor: pointer;
    background-color: rgb(59, 159, 199);
    border-radius: 5px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: darkgray;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.buttonDelete {
    background-color: crimson;
    border-radius: 5px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color:ivory;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border: none;
}

.buttonDelete:hover {
    cursor: pointer;
    background-color: rgb(165, 31, 58);
    border-radius: 5px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    color: darkgray;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.sub_title {
    padding-top: 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    align-content: center;
    color:floralwhite;
    text-align: center;
    width: 40%;
    padding-left: 30%;
    padding-right: 30%;
}

.main_title {
    padding-top: 3%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    align-content: center;
    color: floralwhite;
    text-align: center;
    width: 40%;
    padding-left: 30%;
    padding-right: 30%;
}

.page {
    width: 100%;
    align-content: center;
    text-align: center;
}

.body_center{
    padding-top: 10%;
    text-align: center;
    width: 40%;
    padding-left: 30%;
    padding-right: 30%;
    height:fit-content;
    
    padding-bottom: 20%;
}

.post_box {
    /* padding-right: 5%; */
    padding-left: 1%;
    margin-left: 20%;
    width: 60%;
    margin-right: 20%;
    border: 1px solid grey;
}

.button1 {
    background-color: darkgrey;
    border-radius: 5px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.button1:hover {
    cursor: pointer;
    background-color: darkslategrey;
    border-radius: 5px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: darkgray;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
